<!doctype HTML>
<html lang=en>
<head>
<meta charset="utf-8">
<title>About</title> 
</head>
<body>
<H1>This the about page</H1>
<%= image_tag 'stein.jpg', size:'300x200' %>
<article>
<p><%= link_to 'Home', root_path %> </br> Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext Sometext </p>
</article>
</body>
</html>



